* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #435165;
}
.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    background-color: #2f3947;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #2f3947;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login button {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
	background: linear-gradient(90deg, blue 0% 25% , red 25% 50% ,yellow 50% 75%, green 75% 100%);
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #000000;
    transition: background-color 0.2s;
}

#facebook {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: blue;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #000000;
    transition: background-color 0.2s;
}

.login form input[type="file"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #2f3947;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
  background-color: #2f3947;
    transition: background-color 0.2s;
}

.login select {
  background-color: #2f3947;
    transition: background-color 0.2s;
}

.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 1;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 1;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}

.content > p table td, .content > div table td {
	padding: 5px;
}

.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    background-color: #2f3947;
    color: #ffffff;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #2f3947;
   border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
  background-color: #2f3947;
    transition: background-color 0.2s;
}

table {
    border-spacing: 30px;
  }

  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }

			.loggedin.listeval select{
				text-align-last:right;
				padding-right: 29px;
				direction: rtl;
				width:120px;   

			}
			.loggedin.listeval td {
				word-break: break-all;
				word-break: break-word;
			}
			.loggedin.listeval #list{
					font-size: 10px;
					text-align: center;
					font-weight: bold;
					appearance:listbox;
					width: 100%;
					background-color: #90EE90;
					border: 1;
					border-color: black;
			}
			.loggedin.listeval #see_pic{
					width: 100%;
					background-color: #90EE90;
					border: 0;
					cursor: pointer;
					font-weight: bold;
					transition: background-color 0.2s;
			}
			.loggedin.listeval #remove{
					width: 100%;
					background-color: #ff6961;
					border: 0;
					cursor: pointer;
					font-weight: bold;
					transition: background-color 0.2s;
			}
			.loggedin.listeval #contact{
					width: 100%;
					background-color: #FFD580;
					border: 0;
					cursor: pointer;
					font-weight: bold;
					transition: background-color 0.2s;
			}
			.loggedin.listeval table {
				border-collapse: collapse;
			}
			.loggedin.listeval th {
				border: 1px solid back;
				padding-left: 50px;
				padding-right: 50px;
			}
			.loggedin.listeval td {
				padding: 10px;
				border: 1px solid;
			}
			.loggedin.listeval tr:nth-child(even) {
				background-color: #D6EEEE;
			}

			.loggedin.showimage select {
				text-align-last:right;
				padding-right: 29px;
				direction: rtl;
				width:120px;   

			}
			.loggedin.showimage td {
				word-break: break-all;
				word-break: break-word;
			}
			.loggedin.showimage .center {
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top: 30px;
			padding-bottom: 30px;
			width: 50%;
			}
			.loggedin.showimage #list {
				font-size: 10px;
				text-align: center;
				font-weight: bold;
				appearance:listbox;
				width: 100%;
				background-color: #90EE90;
				border: 1;
				border-color: black;
		    }
			.loggedin.showimage #remove {
				width: 100%;
				background-color: #ff6961;
				border: 0;
				cursor: pointer;
				font-weight: bold;
				transition: background-color 0.2s;
		    }
			.loggedin.showimage #contact {
				width: 20%;
				background-color: #FFD580;
				border: 1;
				cursor: pointer;
				font-weight: bold;
				transition: background-color 0.2s;
			}
			.loggedin.showimage table {
			border-collapse: collapse;
			}
			.loggedin.showimage th {
			border: 1px solid back;
			padding-left: 50px;
			padding-right: 50px;
			}
			.loggedin.showimage td {
			padding: 10px;
			border: 1px solid;
			}
		.loggedin.showimage tr:nth-child(even) {
			background-color: #D6EEEE;
			}

			.loggedin.reqeval select {
				display: inline-block;
				width: 310px;
				height: 50px;
				border: 1px solid #dee0e4;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.loggedin.reqeval form {
				text-align: center;
				align-items: center;
				flex-wrap: wrap;
				justify-content: center;
				padding-top: 20px;
			}
			.loggedin.reqeval form label {
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				justify-content: center;
				align-items: center;
				width: 200px;
				height: 50px;
				font-weight: bold;
				background-color: #435165;
				color: #ffffff;
			}
			.loggedin.reqeval form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
				text-align: center;
				width: 310px;
				height: 50px;
				border: 1px solid #dee0e4;
				margin-top: 20px;
				margin-bottom: 20px;
				font-weight: bold;
			}
			.loggedin.reqeval form input[type="submit"] {
				display: inline-block;
				text-align: center;
				width: 100%;
				padding: 15px;
				margin-top: 20px;
				background-color: #435165;
				border: 0;
				cursor: pointer;
				font-weight: bold;
				color: #ffffff;
				transition: background-color 0.2s;
			}
			.loggedin.reqeval form input[type="submit"]:hover {
			background-color: #435165;
				transition: background-color 0.2s;
			}
			.loggedin.reqeval .text-center {
			text-align: center;
			}
			.loggedin.reqeval .g-recaptcha {
			padding: 30px;
			display: inline-block;
            }
			.loggedin.changeprof form {
				text-align: center;
				align-items: center;
				flex-wrap: wrap;
				justify-content: center;
				padding-top: 20px;
			}
			.loggedin.changeprof form label 
			{
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				justify-content: center;
				align-items: center;
				width: 200px;
				height: 50px;
				font-weight: bold;
				background-color: #435165;
				color: #ffffff;
			}
			.loggedin.changeprof form input[type="submit"] {
				display: inline-block;
				text-align: center;
				width: 100%;
				padding: 15px;
				margin-top: 20px;
				background-color: #435165;
				border: 0;
				cursor: pointer;
				font-weight: bold;
				color: #ffffff;
				transition: background-color 0.2s;
			}
			.loggedin.changeprof form input[type="submit"]:hover {
			background-color: #435165;
				transition: background-color 0.2s;
			}
			.security_questions.login select {
				display: inline-block;
  				background-color: #8d9aac;
				width: 310px;
				height: 50px;
				border: 1px solid #dee0e4;
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.loggedin.fa div{ text-align: center;}
			